<h1>Opciones de administrador</h1>

<%= link_to user_list_path, class: "admin-link" do%>
  <button type="button" name="button">Ver usuarios registrados</button>
<%end%>

<%= link_to suppli_list_path, class: "admin-link" do%>
  <button type="button" name="button">Ver proveedores registrados</button>
<%end%>
