<h1><b>Seguimiento del desarrollo</b></h1>

<img src="https://drive.google.com/uc?export=view&id=1sup3e_hlg_NC-eTHqDvVaHcgFuH_tqag" class="seguimiento">

<h3><b>Commits por día:</b></h3>
<img src="https://drive.google.com/uc?export=view&id=1cz-6dAXEQ6IfQlcqLLXgMRTr9OKdN0HR" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1BG2yLOImtHnQEurShAj8W0aTVokImznG" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1H3wW80wdo8szO9OKHJ8Xc7T-JsUIBr7H" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1dbeeEas28gO-SfosfWSSMi4Az9IIQmvt" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1APn5hDw8EckuuDt9KXcWSXswbrryDw6a" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1gLP_5TozCnEV_FPeFG_GoQZC1BO4czPM" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1Wr3waxMENEQ3Cdy5rBOsbfIhmjTSwH5L" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1nM4VYt88YPBrXEPI4D4Nms8Sxv3mVz70" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1u49ggj7yvFtGTGTP3uVU66BXbJKnyqsU" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1KTahxMhTzHj23Ep2dboIOjzrBP7B0a4i" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1Z-ayaxeTdzxNiWRwObuijOcqjUTbJ0qm" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1juKNZnbpA8ar9gyOmb57DoymD_rzLO6K" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1Gm0qX-_fP96jn85lW9KXtVsTQlYpNyN1" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1t7Cgo9V1a714C2bgeVQLSC8TuhKIywyz" class="commits">
<img src="https://drive.google.com/uc?export=view&id=1STR2iVWz3k5nqjV_qr_1_zCHOZHIANNB" class="commits">
