<div class="blog-content">
  <div class="blog-post">
    <h4>¡Chaquetas y Abrigos! Mira como cubrirte con estilo durante lo que resta de año</h4>
    <p>24 Oct 2017 | Emily Savino </p>
    <img src="https://static.wixstatic.com/media/82c2c1_0f15b4faafab47089a59ea9e371e32d6~mv2.jpg/v1/fill/w_780,h_540,al_c,lg_1,q_85/82c2c1_0f15b4faafab47089a59ea9e371e32d6~mv2.webp" >
    <p>Las chaquetas son una prenda básica tanto para hombres como para mujeres, sobre todo, son especialmente útiles durante la temporada de otoño e invierno, cuando bajan las temperaturas y el frió amenaza con convertirnos en cubos de hielo. Son un e...</p>
    <button><a href="#">Leer más</a></button>
  </div>

  <div class="blog-post">
    <h4>TIPO POLO: Una Prenda para toda Ocasión!!</h4>
    <p>18 Oct 2017 | Diego A. Aguirre</p>
    <img src="https://static.wixstatic.com/media/82c2c1_17bc5a3dab29409b940cbc351d022d6c~mv2.jpg/v1/fill/w_866,h_487,al_c,q_85,usm_0.66_1.00_0.01/82c2c1_17bc5a3dab29409b940cbc351d022d6c~mv2.webp" >
    <p>Obligatoria en los armarios de todos los hombres. Fresca, clásica y para toda ocasión. Así se puede definir una prenda que desde tiempos memorables ha acompañado al hombre y que inicialmente se creo para uniformar a los equipos que practicaban este deporte. El polo...</p>
    <button><a href="#">Leer más</a></button>
  </div>

  <div class="blog-post">
    <h4>3 principios de una negociación efectiva</h4>
    <p>23 Oct 2017 | Emprendedores </p>
    <img src="https://static.wixstatic.com/media/82c2c1_6b4d5aefe9fe48a8a534243cd3e39a0e~mv2.jpg/v1/fill/w_866,h_865,al_c,q_85,usm_0.66_1.00_0.01/82c2c1_6b4d5aefe9fe48a8a534243cd3e39a0e~mv2.webp" >
    <p>Desde un reembolso hasta conseguir un socio, todo es negociación, ¿sabes aprovechar tus habilidades? Te damos las claves para ganar</p>

    <p>Negociar es una de las habilidades que marcan la diferencia entre un empresario exitoso y otro que no logra hacer crecer su empresa. Una n...</p>
    <button><a href="#">Leer más</a></button>
  </div>

  <div class="blog-post">
    <h4>LOOK TOTAL DENIM PARA EL ENTRETIEMPO</h4>
    <p>3 Oct 2017 | Javier Ollero </p>
    <img src="https://static.wixstatic.com/media/82c2c1_0db8e328955f4502a524d078845165c9~mv2.jpg/v1/fill/w_640,h_587,al_c,q_85/82c2c1_0db8e328955f4502a524d078845165c9~mv2.webp" >
    <p>Aunque últimamente estamos viendo mucha repetición de colores y estampados, hay que tener cuidado a la hora de crear un total look vaquero. La mejor opción, sin complicaciones, se consigue escogiendo un pantalón y cazadora con similares colores y desgastes. En cuanto a...</p>

    <button><a href="#">Leer más</a></button>
  </div>
</div>
