/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

nav {
  background: #000;
  border-bottom: 2px solid #e00;
  // height: 45px;
}

#prueba, #carrito,#contact, #about, #tienda,#blog, #title, #admin, #u-signout, #p-signout {
  color: #fff;
  margin: 0px 5px 0px 5px;
}

.i-r-link {
  margin-top: 8px;
  cursor: pointer;
  color: white;
}

.l-user {
  float: left;
  width: 50%;

}

.l-suppli {
  float: right;
  width: 50%;

}

#m-supplier {
  text-decoration: none;
  display:block;
  text-align: center;
}
#m-user {
  text-decoration: none;
  text-align: center;
  display:block;
}

.modal-body img{
  max-width: 90%;
  display: block; /*for the img inside your div */
  margin-left: auto;
  margin-right: auto;
}

.p-description {
  text-align: center;
  display:block;
}

.devise-form {

  width: 40%;
  min-width: 250px;
  padding: 30px;
  margin: auto;
  border: 1px solid rgb(150, 150, 150);
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 18px rgb(150, 150, 150);
}

.notifications {
  margin: auto;
  width: 80%;
  min-height: 60px;
  height: auto;
  clear: both;
  color: white;
}
