// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shopping-img {
  float: left;
  width: 200px;
}

.shopping-img img {
  max-height: 100%;
  max-width: 100%;
}
