// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-page h1, h2 {
  text-align: center;
  margin: 0px;
  color: black;
}
.category-container {
  // border: 2px solid black;
  width: auto;
  text-align: center;
  display: inline-block;
  margin: 5px;
  opacity: 0.7;
}

.category-container  img{
  height: 370px;
  width: 270px;
}

.category-container  a {
  color: black;
  text-decoration: none;
}
.category-container a:hover{
  color: black;
  text-decoration: none;
}

.categories {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.category-container:hover {
  opacity: 1;
}

.cate-search {
  margin: 0 auto;
  width:80%;
  max-width: 350px;
}

.franja {
  height: 15px;
  width: 100%;
  background-color: #706F6F;
}

.te-ofrecemos {
  display: inline-block;
}

.te-ofrecemos img {
  float: right;
  width: 70%;
  margin-bottom: 5px;
}

.publicity {
  width: 100%;
  margin-top: 30px;
  background-color: #EDEDED;
  text-align: center;
}

.publicity-title {
  background-color: #F6F6F6;
  color: #B2B2B2;
  text-align: left;
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 3px;
}

.products-publicity  {
  margin-top: 25px;
  padding-bottom: 40px;
  height: auto;
}

.publicity-description {
  background-color: white;
  max-width: 400px;
  text-align: left;
  padding: 5px 5px 5px 20px;
  color: #706F6F;
}


.products-publicity img {
  margin: auto;
  width: 100%;
  max-width: 350px;
  margin-right: 2.5%;
}

.products-publicity a {
  width: 20%;
  max-width: 300px;
  display: inline-block;
  margin: 0% 1.25% 0% 1.25%;
}

.products-publicity a:hover {
  text-decoration: none;
}

.color-naranja {
  color: #F29100;
}


.products-publicity a:hover {
  border-bottom: 4px solid #EA5B0C;
}

.medios-pago {
  margin-top: 40px;
}

.medios-pago img{
  width: 55%;
}

.medios-pago h4{
  padding-left: 10%;
  padding-bottom: 10px;
  color: #B2B2B2;
  background-color: #F6F6F6;
}

.category-icon-naranja, .category-icon-gris {
  width: 37px;
}

@media screen and (max-width: 600px) {
  .te-ofrecemos img {
    width: 95%;
  }

  .franja {
    height: 7px;
  }
}
