// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini-img {
  height: 70px;
  width: 40px;
}

.seguimiento {
  width: 100%;
}

.commits {
  width: 70%;
  min-width: 300px;

}

.supplier-details {
  max-width: 400px;
}
