// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-page h1, h2 {
  text-align: center;
  margin: 0px;
  color: black;
}

.products {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.product-container {
  // border: 2px solid black;
  width: auto;
  text-align: center;
  display: inline-block;
  margin: 5px;
}

.product-container  img{
  height: 270px;
  width: 270px;
}

.amount {
  width: 45px;
}

.p-show-img {
  float: left;
  width: 350px;
}

.p-show-img img {
  max-height: 100%;
  max-width: 100%;
}

.p-show-specifi {
  float: left;
  margin: 30px;
  padding: 20px;
}
.recomended-products {
  float: right;
  width: 310px;
  border: 1px solid green;
}

.recomended-product {
  float: right;
  width: 300px;
  border: 1px solid red;
}
.recomended-product img {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
}
