// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-title-products {
  padding-left: 8%;
  padding-top: 30px; 
  color: #706F6F;
}
.product-page h1, h2, h4 {
  text-align: left;
  margin: 0px;
  color: black;
}

.products {
  text-align: center;
  margin: 25px 0px 0px 0px;
  padding-top: 20px;
  background-color: #EDEDED;
}

.our-products {
  margin-left: 8%;
  color: #706F6F;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product-container {
  width: auto;
  text-align: center;
  display: inline-block;
  margin: 5px;
  width: 20%;
  max-width: 700px;
  margin: 20px 7px 20px 7px;
}

.product-container:hover {
  border-bottom: 6px solid #F28321;
}

.product-container a:hover {
  text-decoration: none;
}

.product-container  img{
  width: 100%;
}

.product-info {
  background-color: white;
  color: #706F6F;
  height: 100%;
}

.amount {
  width: 45px;
}

.p-show-img {
  float: left;
  width: 350px;
}

.p-show-img img {
  max-height: 100%;
  max-width: 100%;
}

.p-show-specifi {
  float: left;
  margin: 30px;
  padding: 20px;
}
.recomended-products {
  float: right;
  width: 310px;
}

.recomended-product {
  float: right;
  width: 300px;
}
.recomended-product img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  .product-container {
    width: 25%;
  }
}
