// Place all the styles related to the Suppliers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.supplier-cover {
  width: 100%;
  height: 340px;
}

.profile-image img {

  width: 250px;
  height: 250px;
  margin-top: 220px;
  margin-left: 5%;
}

.supplier-description {
  width: 60%;
  max-width: 900px;
  height: 150px;
  background-color: white;
  color: #706F6F;
  float: right;
  padding: 25px 17px;
  border-bottom-left-radius: 30px;
  border-right: 10px solid #F28321;
}

.description-container {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .profile-image img {
    margin: auto;
    margin-top: 60px;
  }

  .cover-image {
    text-align: center;
    height: 200px;
  }
  // .description-container {
  //   display: none;
  // }
  #espaciadora {
    margin-bottom: 140px;
  }
  .supplier-description {
    width: 90%;
  }

}
