<div class="category-page">
  <h1>¡Bienvenido!</h1>
  <h2>Escoge una categoría</h2>

  <form class="cate-search">
    <input class="form-control " type="search" placeholder="Buscar categoría" aria-label="Search">
  </form>

  <div class="categories">
    <% @categories.each do |category| %>
      <div class="category-container">
        <%=link_to category_products_path(category) do%>
          <img src= "<%= category.img_url %>">
          <h5 class= "category-title"><%= category.title %></h5>
        <%end%>
      </div>
    <%end%>
  </div>

  </div>
</div>
