<!-- <p>Hola <%= @resource.email %>!</p> -->
<!--
<p>El fucking e-commerce más chimba del mundo te informa que se nos ha
   solicitado enviarte el link para el cambio de contraseña (Soy una cuca de
    robot). El link de abajo es ese link</p>

<p><%= link_to 'Cambiame mi contraseña ome robocop', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste ningún requerimiento me vale mondá, llama ya mismo a mi creador
Edgardo "the fucking developer Burgos" y dile que estoy vivo.</p>
<p>Entra al link si quieres ver tetas.</p> -->

<p>Hola mamacita</p>

<p>Te papié una vez más porque ya sabia que este mensaje automatizado funcionaba. Pero te
  pregunto... ¿Alguna vez te han dedicado una canción con un correo automatizado
  que envía el token para reestablecer la contraseña? si la respuesta es no abajo está
   el link con tu canción.
 </p>

 <p><a href="https://www.youtube.com/watch?v=zkOU-IBGsR0">link: No olvidé mi contraseña pero mi ex-novio se puso creativo y me dedicó una canción por correo automatizado</a></p>

<p><%= link_to 'Igual quiero cambiar la contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Pd: Espero con esto que cada que olvides tu contraseña o una moto grande pase cerca de ti o veas una caja de chococrispis en el exito te acuerdes de mí #MeSiguesEncantando</p>
