<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha requerido un link para cambiar tu contraseña. Puedes encontrar ese link abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste ningún requerimiento, por favor ignora este email.</p>
<p>Tu contrasela no cambiará a menos que accedas al link de arriba y crees una nueva contraseña.</p>
