<p>Hola <%= @resource.email %>!</p>

<p>El fucking e-commerce más chimba del mundo te informa que se nos ha
   solicitado enviarte el link para el cambio de contraseña (Soy una cuca de
    robot). El link de abajo es ese link</p>

<p><%= link_to 'Cambiame mi contraseña ome robocop', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no hiciste ningún requerimiento me vale mondá, llama ya mismo a mi creador
Edgardo "the fucking developer Burgos" y dile que estoy vivo.</p>
<p>Entra al link si quieres ver tetas.</p>
